.home-header {
  border-radius: 12px;
  align-items: center;
  background: #fff;
  margin: 3rem auto;
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  gap: 50%;
  letter-spacing: 1px;
  color: #10b4f5;
}

#heading {
  font-size: -webkit-xxx-large;
  text-decoration: none;
}

.home-header a {
  text-decoration: none;
  color: #10b4f5;
}

.header-button {
  background: #0067e6;
  color: #fff;
  padding: 0.4rem;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
}

div#user-mail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media only screen and (max-width: 768px) {
  .home-header {
    width: 86%;
    gap: 27%;
  }
}

@media only screen and (max-width: 400px) {
  .home-header {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 86%;
      gap: 1rem;
  }
}